nav {
  background: var(--color-background);
  border-bottom: 1px solid var(--color-black);
  box-shadow: var(--shadow-8dp);
  height: 4rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 800;
}
