.form__textarea {
  background: var(--color-background);
  border-color: var(--color-primary);
  border-radius: 0;
  border-style: solid;
  border-width: 0.2rem;
  display: block;
  font-family: inherit;
  font-size: inherit;
  margin: 1rem 0;
  min-height: 150px;
  outline: 0;
  overflow: hidden;
  padding: 0.5rem;
  resize: none;
  width: calc(100% - 1.4rem);
}